* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.overlay {
  background-image: url("../img/shade3.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  animation: scale-up 20s alternate ease-in-out infinite;
}

#root {
  display: grid;
  background-color: skyblue;
  background-image: url("../img/mountain.png"),
    linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%), url("../img/shade.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  justify-content: center;
  padding-top: 20px;
  grid-template-rows: 30% 10% 50%;
  font-family: Arial;
  line-height: 1.4;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.cardContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.typeCard {
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.logoContainer {
  margin: auto;
}

/*<------------------- navbar --------------------->*/
.pokebar {
  z-index: 10;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
/*<------------------- navbar buttons --------------------->*/
.pokeball {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -5px 10px 0 5px #ccc;
  cursor: pointer;
}

label {
  display: inherit;
  top: 10px;
  font-weight: bold;
  margin: auto;
  font-size: 20px;
  text-align: center;
  list-style: none;
}

.pokeball::before,
.pokeball::after {
  content: "";
  position: absolute;
}

.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}

.pokeball::after {
  top: calc(50% - 8px);
  width: 100%;
  height: 8px;
  background: #000;
}

.pokeball_button {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background: #7f8c8d;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 8px black;
  animation: blink 0.5s alternate infinite;
}

.pokeball:hover {
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
}

/*<------------------- navbar buttons --------------------->*/
/*<------------------- Animation --------------------->*/

@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
