* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  -webkit-text-stroke: 2px black;
  /* text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5); */
  color: yellow;
  /* text-shadow: -1px -1px 0px #2196f3, 2px 2px 2px #2196f3, 3px 3px 0px #0d47a1; */
}

a {
  text-decoration: none;
  color: black;
}

.overlay {
  background-image: url("../img/shade3.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  animation: scale-up 20s alternate ease-in-out infinite;
}

#root {
  display: grid;
  grid-template-columns: 9% 80% 9%;
  grid-template-rows: 20% 40% 39%;
  grid-template-areas:
    "header header header"
    ". content ."
    ". content . ";
  background-repeat: no-repeat;
  background-size: contain;
  gap: 10px;
  background-image: url("../img/mountain.png"),
    linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-position: bottom;
  justify-content: center;
  font-family: Arial;
  line-height: 1.4;
  width: 99.8%;
  height: 100vh;
  margin: 0;
}

body::after {
  content: "";
  position: absolute;
  background-color: skyblue;
  z-index: 10;
}

/*<------------------- Animation --------------------->*/

@keyframes scale-up {
  0% {
    background-size: 130%;
  }
  100% {
    background-size: 100%;
  }
}
