* {
  margin: 0;
  padding: 0;
}
.pokeCardDiv {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}
.pokeCardDiv li {
  list-style-type: none;
}

.badge {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.85));
}

#normal_badge {
  background-image: url("../img/badges/normal.png");
}

#fire_badge {
  background-image: url("../img/badges/normal.png");
}

#water_badge {
  background-image: url("../img/badges/water.png");
}

#electric_badge {
  background-image: url("../img/badges/electric.png");
}

#grass_badge {
  background-image: url("../img/badges/grass.png");
}

#ice_badge {
  background-image: url("../img/badges/ice.png");
}

#ground_badge {
  background-image: url("../img/badges/ground.png");
}

#flying_badge {
  background-image: url("../img/badges/flying.png");
}

#ghost_badge {
  background-image: url("../img/badges/ghost.png");
}

#rock_badge {
  background-image: url("../img/badges/rock.png");
}

#fighting_badge {
  background-image: url("../img/badges/fighting.png");
}

#poison_badge {
  background-image: url("../img/badges/poison.png");
}

#psychic_badge {
  background-image: url("../img/badges/psycic.png");
}

#bug_badge {
  background-image: url("../img/badges/bug.png");
}

#dark_badge {
  background-image: url("../img/badges/dark.png");
}

#steel_badge {
  background-image: url("../img/badges/steel.png");
}

#dragon_badge {
  background-image: url("../img/badges/dragon.png");
}

#fairy_badge {
  background-image: url("../img/badges/fairy.png");
}

#unknown_badge {
  background-image: url("../img/badges/unknown.png");
}

#shadow_badge {
  background-image: url("../img/badges/shadow.png");
}

#normal {
  background-color: #a8a878;
  border: 4px solid #6d6d4e;
}

#fire {
  background-color: #f08030;
  border: 4px solid #9c531f;
}

#water {
  background-color: #6890f0;
  border: 4px solid #445e9c;
}

#electric {
  background-color: #f8d030;
  border: 4px solid #a1871f;
}

#grass {
  background-color: #78c850;
  border: 4px solid #4e8234;
}

#ice {
  background-color: #98d8d8;
  border: 4px solid #638d8d;
}

#ground {
  background-color: #e0c068;
  border: 4px solid #927d44;
}

#flying {
  background-color: #a890f0;
  border: 4px solid #6d5e9c;
}

#ghost {
  background-color: #705898;
  border: 4px solid #493963;
}

#rock {
  background-color: #b8a038;
  border: 4px solid #786824;
}

#fighting {
  background-color: #c03028;
  border: 4px solid #7d1f1a;
}

#poison {
  background-color: #a040a0;
  border: 4px solid #682a68;
}

#psychic {
  background-color: #f85888;
  border: 4px solid #a13959;
}

#bug {
  background-color: #a8b820;
  border: 4px solid #6d7815;
}

#dark {
  background-color: #705848;
  border: 4px solid #49392f;
}

#steel {
  background-color: #b8b8d0;
  border: 4px solid #787887;
}

#dragon {
  background-color: #7038f8;
  border: 4px solid #4924a1;
}

#fairy {
  background-color: #14a3b6;
  border: 4px solid #0ea08c;
}

#shadow {
  background-color: #a3e64c;
  border: 4px solid #484b52;
}
