.pokeCardDiv {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}
.pokeCardDiv li {
  list-style-type: none;
}

#normal {
  background-color: #a8a878;
  border: 4px solid #6d6d4e;
}

#fire {
  background-color: #f08030;
  border: 4px solid #9c531f;
}

#water {
  background-color: #6890f0;
  border: 4px solid #445e9c;
}

#electric {
  background-color: #f8d030;
  border: 4px solid #a1871f;
}

#grass {
  background-color: #78c850;
  border: 4px solid #4e8234;
}

#ice {
  background-color: #98d8d8;
  border: 4px solid #638d8d;
}

#ground {
  background-color: #e0c068;
  border: 4px solid #927d44;
}

#flying {
  background-color: #a890f0;
  border: 4px solid #6d5e9c;
}

#ghost {
  background-color: #705898;
  border: 4px solid #493963;
}

#rock {
  background-color: #b8a038;
  border: 4px solid #786824;
}

#fighting {
  background-color: #c03028;
  border: 4px solid #7d1f1a;
}

#poison {
  background-color: #a040a0;
  border: 4px solid #682a68;
}

#psychic {
  background-color: #f85888;
  border: 4px solid #a13959;
}

#bug {
  background-color: #a8b820;
  border: 4px solid #6d7815;
}

#dark {
  background-color: #705848;
  border: 4px solid #49392f;
}

#steel {
  background-color: #b8b8d0;
  border: 4px solid #787887;
}

#dragon {
  background-color: #7038f8;
  border: 4px solid #4924a1;
}
